<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <img class= "d-flex mr-3" src={{model.image}} alt={{model.name}}>
    </div>
    <div class="col-xs-8">
      <h2 class="mt-0">{{model.name}}</h2>
      <h4>The {{model.profession}}</h4>
      <ul>
        <li><strong>Idol: </strong>{{model.idol}}</li>
        <li><strong>Weapon of choice: </strong>{{model.weapon}}</li>
      </ul>
      <blockquote>{{model.bio}}</blockquote>
    </div>
  </div>
</div>
