<div class="header">
  <h2>{{model.title}}</h2>
  <h4>The death of {{model.victim}}</h4>
  <h5>{{model.location}}</h5>
</div>
<p>{{model.story}}</p>
{{#each model.characters as |character|}}
  {{character-tile character=character}}
{{/each}}

{{#if model.started}}
  <form action="index.html" method="post">
    <select id="select-murdoer" class="form-control" name="murder-guess">
      {{#each model.characters as |character|}}
        <option value={{character.id}}>{{character.name}}</option>
      {{/each}}
    </select>
    <button class="btn" {{action 'murdoComplete' model}}>Finish Murdo</button>
  </form>
{{else}}
<div class="col-xs-12">
  <button class="btn btn-success" {{action 'createCharacter' model}}>New Character</button>
  <button class="btn btn-start" {{action 'murdoInit' model}}>Start Murdo</button>
</div>
{{/if}}
